body {
    background-image: url('https://previews.123rf.com/images/backgroundstore/backgroundstore1808/backgroundstore180800062/106417946-simple-background-white-app-wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
